<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!checkLogin" class="nav-link" routerLink="register">Register</a>
  </li>
  <li class="nav-item">
    <a *ngIf="!checkLogin" class="nav-link" routerLink="login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="userAccount">Account</a>
  </li>
  <li class="nav-item">
    <a *ngIf="checkLogin" class="nav-link" (click)="logOut()" routerLink>LogOut</a>
  </li>
  <li class="nav-item">
    <a *ngIf="checkLogin" class="nav-link active" routerLink="changeAvatar"><img [src]="avatar" alt="" width="60px" height="60px" style="margin-left: -1px"><br>{{name}}</a>
  </li>
</ul>


<!--<mat-toolbar color="primary" class="navbar">-->
<!--  <div>-->
<!--    <a href="">Hello</a>-->
<!--    <a href="">Hello</a>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span><a href="">dsafasdf</a></span>-->
<!--    <span>About2</span>-->
<!--    <span>About3</span>-->
<!--    <span>About4</span>-->
<!--  </div>-->
<!--</mat-toolbar>-->
